<div class="cont1">
    <ul style="list-style: none">
        <table>
            <tr>
                <td>Description</td>
                <td>Amount</td>
            </tr>
        </table>
      <li *ngFor="let i of data; let k = index">
        <table>
          <tr>
            <td>{{ i.description }}</td>
            <td>{{ i.amount }}</td>
            
              <button (click)="remove(k)">remove</button>
            
            <button (click)="current = 'add'">Update</button>
          </tr>
          
        </table>
            <app-list-update *ngIf="current=='add'"></app-list-update>
      </li>

    </ul>
  </div>
  