<div class="cont1">
    <ul style="list-style: none">
        <table>
            <tr>
                <td>Description</td>
                <td>Amount</td>
            </tr>
        </table>
      <li *ngFor="let i of data; let k = index">
        <table>
          <tr  >
            <td><input type="text" [disabled]="cond=='false'"  [value]="i.description" /></td>
            <td><input type="text" [disabled]="cond=='false'"  [value]="i.amount" /></td>
            
              <button (click)="remove(k)">remove</button>
              <button  (click)="b(k)" [disabled]="cond=='true'">Edit</button>
              <button  (click)="cond='false'">Switch</button>

          </tr>
          
        </table>

      </li>
                  <!-- <app-list-update *ngIf="current=='add'"></app-list-update> -->
                  <li *ngFor="let i of data; let k = index">
                    
                    <div *ngIf="j==k">
                      
                  <form  class="container form" autocomplete="off" [formGroup]='form' *ngIf="current=='add'" >
                    {{"Updates row: "+ k }}
                    <div class="item label">
                      Description:
                    </div>
                    <div class="item input">
                      <input type="text" formControlName="describtion" />
                    </div>
                    <div class="item label">
                      Amount:
                    </div>
                    <div class="item input">
                      <input type="text"  formControlName="amount"/>
                    </div>
                    
                    <button  (click)="save(k)">Save</button>
                    <button  (click)="setvalue()" >Cancel</button>
                    
                    </form>
                    <button (click)="sum(k)">Sum</button>
                    {{"Sum of Amount: " + sumofAmount }}
                    </div>
                    
                  </li>
                  
                    
    </ul>
  </div>
  